.slide,
.slide__image-wrapper,
.slide__image-fade,
.slide__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image {
    object-fit: cover;
  }

  &__image-fade {
    background-color: #150d05;
    opacity: .6;
  }

  &__content {
    position: relative;
    max-width: 650px;
    width: 100%;
  }

  &__title {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 500;
  }

  &__description {
    margin-bottom: 40px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
  }

  &__link {
    display: block;
    color: inherit;
    text-transform: uppercase;
    font-weight: 500;
  }
}